 /* Font add  */
 @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lobster&family=Oswald:wght@400;500&family=Poppins:wght@400;500&display=swap');
 /* common style  */
 body{
    font-family: 'EB Garamond', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
     font-family: 'Poppins', sans-serif; 
     background-color: rgba(219, 219, 230, 0.87);
     font-size: 20px;
 }


/* Fast Contener styles  */

.container{
    
    width: 1047px;
    height: auto;
    margin-left: 212px;
    
}

.text-box{
    font-size: 50px;
    line-height: 40px;
    margin-top: 20px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    
}
@keyframes back{ 
    100%{
        background-position: 2000px 0;
    }

}

.fast-con{
   display: flex;
   text-align: justify;
  
   


}
.influencer{
    Width:582px;
    Height:270px;
    margin-left: 20px;

   
    
}
.influencer .start-title{
    font-size: 52px;
    font-weight: 700;
    
}
.camera{
    margin-left: 40px;
}

.camera img{
    Width:380px;
    Height: 360px;
    
}
.button-link{

    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    border-radius: 35px;
}
.button-link a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
/* Populer style */


.section-title{
    text-align: center;
}
.populars{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 15px;
    margin-top: 25px;
    
}
.popular{
    margin: 20px;
    font-size: 16px;
    background-color: white;
    align-items: center;
    width: 329px;
    height: 456px;
    border-radius: 10px;
    border-left: 10px;
}


.popular .products-banner img{
    width: 280px;
    height: 155px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 15px;
    
}
.products-detail{
    align-items: center;
    word-wrap: normal;
    margin-left: 20px;
    margin-right: 10px;

}
.products-info{
    align-items: center;
    justify-content: center;
    
}
.fa-star{
    font-size: 16px;
}
.fa-star.filled{
    color:#FFC014 ;
}
.fa-star.emtey{
    
}
.products-duration{
    align-items: center
    flex-wrap:wrap ;
}
.see-more{
    text-align: right;
    color: #E02C6D;
}
    /* Extension of WooCommerce style  */
.extensions{
    display: flex;
    text-align: justify;
}
.extension-img{
    margin-left: 20px;
}
.extension-img img{
    width: 404px;
    height: 270px;
}
.extension-paragaph{
    margin-left: 40px;
    margin-right: 30px;
    word-wrap:initial;

}
/* footer style  */
footer{
    background-color: black;
    text-align: center;
}
footer h3{
    color: white;
}
footer p{
    color:white;
    font-size: 12px;
}
